RemoteDrive/RemoteDrive/Service References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RemoteDriveService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RemoteDriveService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Root" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="RemoteDriveItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accessed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Binary" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Changed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CompareState" type="tns:RemoteDriveItem.RemoteDriveCompareStates" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:long" />
      <xs:element minOccurs="0" name="Loaded" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemoteDriveItems" nillable="true" type="tns:ArrayOfRemoteDriveItem" />
      <xs:element minOccurs="0" name="Type" type="tns:RemoteDriveItem.RemoteDriveTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoteDriveItem" nillable="true" type="tns:RemoteDriveItem" />
  <xs:simpleType name="RemoteDriveItem.RemoteDriveCompareStates">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotCompared" />
      <xs:enumeration value="NameMatches" />
      <xs:enumeration value="NameAndSizeMatches" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RemoteDriveItem.RemoteDriveCompareStates" nillable="true" type="tns:RemoteDriveItem.RemoteDriveCompareStates" />
  <xs:complexType name="ArrayOfRemoteDriveItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RemoteDriveItem" nillable="true" type="tns:RemoteDriveItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemoteDriveItem" nillable="true" type="tns:ArrayOfRemoteDriveItem" />
  <xs:simpleType name="RemoteDriveItem.RemoteDriveTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Empty" />
      <xs:enumeration value="File" />
      <xs:enumeration value="Directory" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RemoteDriveItem.RemoteDriveTypes" nillable="true" type="tns:RemoteDriveItem.RemoteDriveTypes" />
</xs:schema>